@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  --color-primary: rgb(255, 255, 255);
  --color-secondary: #ffffffba;
  background: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 30rem;
  padding: 0 1rem;
  margin: 0 auto;
}

h1 {
  padding: 0.8rem 0;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  transition: 0.5s ease-in-out;
  border-radius: 8px;
}

img:hover {
  transform: scale(1.04);
}

button,
input {
  display: block;
  font-size: 1rem;
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: #ffffffea;
}
